//----------------------------------------------------
// Index
//----------------------------------------------------

//----------------------------------------------------
// / Import
//----------------------------------------------------

$pattern-display-mediaquery: mobile, fablet, tablet, desktop, wide,
  mobile-tablet !default;

@import "./variables.scss";
@import "~shitajicss/src/scss/_shitaji.scss";
@import "~musubii/src/scss/_components.scss";

//----------------------------------------------------
// / Prism.js
//----------------------------------------------------

pre[class*="language-"] {
  border-radius: $radius-sm;
  -webkit-overflow-scrolling: touch;
}

//----------------------------------------------------
// / Modifier
//----------------------------------------------------

.is-font-nunito {
  font-family: Nunito, $font-sans;
}
